# 1. Tipos de Dados Básicos

Exemplo 1 — Variáveis e tipos essenciais

In [ ]:
idade = 25          # int
altura = 1.75       # float
nome = "Maria"      # str
aprovado = True     # bool

print(type(idade), type(altura), type(nome), type(aprovado)) #para saber o tipo da função colocar o type()

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>


Exemplo 2 — Demonstração prática do tipo booleano

In [4]:
idade = 19

In [5]:
idade >= 18

True

In [7]:
idade < 18

False

In [8]:
# Intuição do booleano no controle de fluxo
idade = 19
maioridade = idade >= 18
print("É maior de idade?", maioridade)

É maior de idade? True

In [9]:
if idade >= 18:
  print("OI")
else:
  print("Tchau")

OI

In [10]:
# atribuir a variável idade a vários valores
idade = 18 # idade vale 18
idade = 10 # agora idade vale 10
idade = 7 # passou a vale 7
print(idade) # vai mostrar 7 porque foi o último número da execução

7

# 2. Operadores e Expressões

Exemplo 1 — Operadores aritméticos

In [11]:
a = 13
b = 5

print(a + b)    # soma
print(a - b)    # subtração
print(a * b)    # multiplicação
print(a / b)    # divisão real
print(a // b)   # divisão inteira
print(a % b)    # resto da divisão (módulo)
print(a ** b)   # potência

18
8
65
2.6
2
3
371293

In [13]:
if a % 2 == 0: # se o resto da divisão for 0 o número é par
  print("par")
else:
  print("impar")

impar

Exemplo prático (divisão inteira e resto)

In [ ]:
# Exemplo real: Dividir 17 balas entre 4 crianças
balas = 17
criancas = 4
por_crianca = balas // criancas
sobraram = balas % criancas

print("Cada criança recebe:", por_crianca, "balas")
print("Sobraram:", sobraram, "balas")

Cada criança recebe: 4 balas
Sobraram: 1 balas

Exemplo 3 — Operadores lógicos

In [14]:
a = 10
b = 20
print(a > 5 and b < 30)   # True por as duas condições são verdadeiras
print(a < 5 or b > 30)    # False porque as duas condições precisam ser falso
print(not (a == 10))      # False porque está negando que a é igual a 10

True
False
False

In [15]:
print(a < 5 or b < 30) #True uma condição for verdadeira o resultado é True

True

In [16]:
print(a < 5 or b > 30) # duas condições falsos

False

Exemplo: Para dirigir é preciso ter mais de 18 e carteira de habilitação

In [17]:
idade = 20
tem_carteira = True

if idade >= 18 and tem_carteira:
    print("Pode dirigir.")
else:
    print("Não pode dirigir.")

Pode dirigir.

A pessoa pode entrar no cinema se for estudante ou tiver mais de 60 anos

In [ ]:
idade = 65
é_estudante = False

if idade > 60 or é_estudante:
    print("Entrada com desconto.")
else:
    print("Entrada normal.")

Entrada com desconto.

O site só mostra o botão de “Entrar” se o usuário não estiver logado.

In [ ]:
logado = False

if not logado:
    print("Mostrar botão de 'Entrar'")
else:
    print("Mostrar botão de 'Sair'")

Mostrar botão de 'Entrar'

# 3. Manipulação de Strings

Exemplo 1 - Métodos básicos de string

In [18]:
texto = " Python é divertido! "

print(texto.strip())         # remove espaços do início/fim
print(texto.upper())         #converte tudo para  MAIÚSCULAS
print(texto.replace("divertido", "poderoso"))  # troca palavra divertido por poderoso

Python é divertido!
 PYTHON É DIVERTIDO!
 Python é poderoso!

In [ ]:
texto = "python é divertido!"

# Primeira letra da string em maiúscula
print(texto.capitalize())
# Saída: " python é divertido!" (note o espaço inicial!)

Python é divertido!

In [ ]:
# Tudo em letras minúsculas
print(texto.lower())
# Saída: " python é divertido! "

# Primeira letra de cada palavra em maiúscula
print(texto.title())
# Saída: " Python É Divertido! "

# Primeira letra da string em maiúscula
print(texto.capitalize())
# Saída: " Python é divertido!" (note o espaço inicial!)

python é divertido!
Python É Divertido!
Python é divertido!

In [ ]:
# Verifica se começa com certa palavra (útil para filtros)
print(texto.strip().startswith("Python"))
# Saída: True

# Verifica se termina com certo texto
print(texto.strip().endswith("!"))
# Saída: True

# Conta quantas vezes uma palavra/aparência ocorre
print(texto.count("é"))
# Saída: 1

# Descobre a posição de uma palavra/caractere
print(texto.find("divertido"))
# Saída: 11 (posição onde começa a palavra)

# Divide em partes usando um separador
print(texto.strip().split())
# Saída: ['Python', 'é', 'divertido!']

False
True
1
9
['python', 'é', 'divertido!']

Exemplo 2 — Checando conteúdo, formando novas strings

In [19]:
email = "aluno@escola.com"
print(email.startswith("aluno"))      # True
print(email.endswith(".com"))         # True

nome = "Ana"
idade = 23
mensagem = f"Nome: {nome} | Idade: {idade}"
print(mensagem)

True
True
Nome: Ana | Idade: 23

Exemplo simples com f-string:

In [ ]:
# f difinir uma variável definida antes
nome = "Julia"
idade = 30
print(f"Nome: {nome} | Idade: {idade}") # f difinir uma variável definida antes

Nome: Julia | Idade: 30

In [ ]:
produto = "Notebook"
preço = 3499.90
estoque = 8

print(f"Relatório: O produto '{produto}' custa R${preço:.2f} e restam {estoque} unidades em estoque.")

Relatório: O produto 'Notebook' custa R$3499.90 e restam 8 unidades em estoque.

In [ ]:
usuario = "ana.silva"
ação = "login"
print(f"[LOG] Usuário '{usuario}' realizou {ação}.")

[LOG] Usuário 'ana.silva' realizou login.

# 4. Indentação em Python

In [20]:
nota = 8

if nota >= 7:
    print("Aprovado!")   # bloco indentado
else:
    print("Reprovado!")  # também faz parte do bloco

Aprovado!

In [26]:
nota = 8
if nota >=7: # se a nota 8 é maior ou igual a 7
  if nota < 9: #se a nota 8 é menor que 9
    print("ok") # se a nota 8 for >=7 e < 9 printa ok
  else:
    print("Aprovado")
else:
  print("Reprovado")

ok

# 5. Variáveis e Atribuição

Exemplo 1 — Atribuição simples, tipos diferentes

In [ ]:
x = 7          # int
#x = "sete"     # agora é str (troca automática)
print(x)
print(type(x))

7
<class 'int'>

# 6. Instruções (Statements)

Exemplo 1 — Atribuição e print

In [ ]:
# Duas instruções: atribuição e exibição
fruta = "banana"
print(fruta)

banana

# 7. Estrutura Básica de Programas

Exemplo 1 — Programa simples com entrada, processamento e saída

In [ ]:
# Entrada
nome = input("Digite seu nome: ")
# Processamento
cumprimento = f"Seja bem-vindo, {nome}!"
# Saída
print(cumprimento)

Seja bem-vindo, lais!

In [ ]:
# Entrada
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
# Processamento
cumprimento = f"Seja bem-vindo, {nome} você tem {idade} anos!"
# Saída
print(cumprimento)

# 8. Erros Comuns e Depuração Básica

Exemplo 1 — Erro de sintaxe (faltou dois pontos e indentação):

In [ ]:
# Vai dar erro!
if True
print("Erro de sintaxe!")

In [ ]:
# Vai dar certo!
if True:
  print("deu certo!")

Exemplo 2 — Erro de execução

In [ ]:
# Vai dar erro!
#index começa com 0 ou seja a posição começa com 0
lista = [1, 2, 3] # lista com 3 elementos
print(lista[10])  # IndexError: posição inexistente

In [30]:
# Vai dar certo
lista = [1, 2, 3]
print(lista[0])  #Posições existentes: 0,1,2

1

Exemplo 3 — Erro semântico

In [32]:
# Queremos somar de 1 a 5
soma = 0 #inicializa com 0
for i in range(5):#percorre todos os numeros inteiros
    soma += i
print(soma)  # o resultado esperado é 10

10

In [28]:
# Queremos somar de 1 a 5
soma = 0
for i in range(6):
    soma += i

print(soma)  # range vai até -1, então deve parar no valor 5 conforme o esperado

15

In [33]:
soma = 0
for i in range(6):
    print(i) #mostrar a inteiração
    soma += i

print(soma)

0
1
2
3
4
5
15

 Passo a passo:

soma = 0

A gente começa com uma variável chamada soma e coloca o valor 0 nela.
Essa será nossa “caixinha” onde vamos acumular os valores.

for i in range(6):

Aqui começa um laço de repetição (loop).
Ele vai rodar com i assumindo os valores: 0, 1, 2, 3, 4, 5 (porque range(6) vai até 6, mas não inclui o 6).

soma += i

Isso é o mesmo que soma = soma + i.
Em cada rodada do loop, ele vai somando o valor de i dentro da caixinha soma.

## 🧮 Tabela: Execução do Loop `for` com Acúmulo de Soma

| **Rodada** | **Valor de `i`** | **Valor anterior de `soma`** | **Operação realizada** | **Novo valor de `soma`** |
|------------|------------------|-------------------------------|-------------------------|---------------------------|
| 1ª         | 0                | 0                             | 0 + 0                   | 0                         |
| 2ª         | 1                | 0                             | 0 + 1                   | 1                         |
| 3ª         | 2                | 1                             | 1 + 2                   | 3                         |
| 4ª         | 3                | 3                             | 3 + 3                   | 6                         |
| 5ª         | 4                | 6                             | 6 + 4                   | 10                        |
| 6ª         | 5                | 10                            | 10 + 5                  | 15                        |