## **Exercício 1 – Identificando Tipos de Dados**

| **Variável** | **Tipo correto (int, float, str)** |
| --- | --- |
| idade | int |
| salario | float |
| nome | str |
| numero_filhos | int |
| cidade | int |
| altura | float |

## **Exercício 2 – Trabalhando com operadores**

```python
idade_joao = 22
idade_maria = 28
salario_joao = 1500.00
salario_maria = 2300.25
```

A) Some as idades:

B) Calcule a diferença de Salario entre Maria e João:

C) Crie uma variavel que responda se Maria ganha mais que João:

In [ ]:
idade_joao = 22
idade_maria = 28
salario_joao = 1500.00
salario_maria = 2300.25

# A) Some as idades:
soma = idade_joao + idade_maria # 22 + 28 =50
print(soma)

# B) Calcule a diferença de Salario entre Maria e João:
diferenca = salario_maria - salario_joao
print(diferenca)

# C) Crie uma variavel que responda se Maria ganha mais que João:
if salario_maria > salario_joao:
  print("Maria ganha mais que João")
else:
  print("Maria não ganha mais que João")

50
800.25
Maria ganha mais que João

In [ ]:
#Maria ganha mais que João?
maria_ganha_mais_que_joão = salario_maria > salario_joao

In [ ]:
maria_ganha_mais_que_joão

True

## **Exercício 3 – Manipulação de Strings**

```python
nome = "  maria da silva  "
email = "Maria.Silva@EMAIL.com"
```

A) Remova os espaços antes e depois do nome:

B) Faça com que todas as letras do e-mail sejam minusculas:

C) Substitua “silva” por “oliveira”

In [ ]:
nome = "  maria da silva  "
email = "Maria.Silva@EMAIL.com"

# A) Remova os espaços antes e depois do nome:
novoNome = nome.strip()
print(novoNome)

# B) Faça com que todas as letras do e-mail sejam minusculas:
novoEmail = email.lower()
print(novoEmail)

# C) Substitua “silva” por “oliveira”
print(novoNome.replace("silva", "oliveira"))
print(novoEmail.replace("silva", "oliveira"))

maria da silva
maria.silva@email.com
maria da oliveira
maria.oliveira@email.com

## **Exercício 4 – Por que a indentação é importante?**

```python
idade = 17
if idade >= 18:
print("Maior de idade")
else:
print("Menor de idade")
```
A) Como corrigir? E qual é o motivo do erro?

In [ ]:
# O motivo do erro é indentação
idade = 17

if idade >= 18:
  print("Maior de idade")
else:
  print("Menor de idade")

Menor de idade

## **Exercício 5 – Refletindo**

Responda verdadeiro ou falso

a) O tipo float armazena qualquer número com parte decimal.
**~~Verdadeiro**

b) O operador **`==`** compara igualdade de valores.
**~~Verdadeiro**

c) O método **`.replace`** substitui trechos em strings.
**~~Verdadeiro**

d) Variáveis int aceitam apenas números inteiros, sem letras.
**~~Verdadeiro**

e) A indentação em Python é obrigatória, pois define os blocos de código (não é só estética!).
**~~Verdadeiro**

## **Exercício 6 – Explorando na Prática**

```python
nome1 = "  JoANA "
nome2 = "CAMILA"
nome3 = "lucas"
```

A) Elimine os espaços extras de todos os nomes:

B) Padronize todos os nomes com a primeira letra maiúscula:

In [ ]:
nome1 = "  JoANA "
nome2 = "CAMILA"
nome3 = "lucas"

print(nome1)
print(nome2)
print(nome3)

  JoANA
CAMILA
lucas

In [ ]:
# A) Elimine os espaços extras de todos os nomes:
nome1_strip = nome1.strip()
nome2_strip = nome2.strip()
nome3_strip = nome3.strip()

print(nome1_strip )
print(nome2_strip )
print(nome3_strip )

JoANA
CAMILA
lucas

In [ ]:
# B) Para Padronar todos os nomes com a primeira letra maiúscula utilize a função capitalize():
nome1_cap = nome1_strip.capitalize()
nome2_cap = nome2_strip.capitalize()
nome3_cap = nome3_strip.capitalize()

print(nome1_cap)
print(nome2_cap)
print(nome3_cap)

Joana
Camila
Lucas

In [ ]:
#Resolvendo as duas quetões de uma só vez com as funções:
#strip() elimina espaço no inicio e final
#capitalize() coloca a primeira letra em maiúscula

nome1 = "  JoANA "
nome2 = "CAMILA"
nome3 = "lucas"

#Padronizar espaço strip() e Primeira letra maiúscula capitalize()
nome1_padrao = nome1.strip().capitalize()
nome2_padrao = nome2.strip().capitalize()
nome3_padrao = nome3.strip().capitalize()

print(nome1_padrao)
print(nome2_padrao)
print(nome3_padrao)

Joana
Camila
Lucas